$blabla-ocean-blue: #48a9a6;

.mobile-friends-container {
  margin: 0;
  padding: 0;
  min-height: 100%;
  // font-family: "Montserrat";
  color: #2b2b2b;

  .friend-button {
    padding: 1rem 0 2rem 1rem;
    list-style-type: none;
    border: 1px solid #f3f3f3;
    min-width: 100%;
    background-color: #fff;
    text-align: left;
    font-family: "Montserrat";
  }
}

.full-screen-container {
  display: flex;
  height: 100vh;
  .friends-container {
    min-width: 300px;
    border-right: 2px solid $blabla-ocean-blue;

    .friend-button {
      padding: 1rem 0 2rem 1rem;
      list-style-type: none;
      border: 1px solid #f3f3f3;
      min-width: 100%;
      background-color: #fff;
      text-align: left;
      font-family: "Montserrat";
    }
  }

  .full-screen-message-container {
    min-width: 100%;
  }
}
