.header-container {
  background-color: #48a9a6;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-family: "Montserrat", "sans-serif";
  font-size: 2rem;
  color: #fff;
}

.title {
  margin-bottom: 1rem;
}
